.row {
  margin-left: 0;
  margin-right: 0;
}

.arrows {
  margin: 2px 4px 4px 0px;
  border: 2px solid #007bff;
  color: gray;  
  border-radius: 5px;
  width: 60px;
  height: 60px;
  padding: 20px;
}

.space-bar {
  border: 2px solid #007bff;
  border-radius: 5px;
  color: gray;
  width: 188px;
  height: 60px;
  padding: 20px;
}

.card-container {
  padding: 12px;
}

p {
  font-size: 11px;
}