$wid: 25%;

#gameContainer {
  border: 2px solid red;
  height: 90%;
  width: 80%;
  max-width: 1000px;
  position: absolute;
  background-color: rgb(165, 11, 75);
}

#gridContainer {
  border: 2px red solid;
  background-color: darkred;
}

.spectrum {
  border: 2px solid black;
  sbackground: url('./statictv.gif');
}

.incomingPieceCell {
  width: 25%;
}

.gridCell {
  width: 10%;
}
.gridCell1 {
  border: 1px grey solid;
}

.gridCell2 {
  border: 1px blue solid;
}

#gameControlsInput {
  position: absolute;
  top: -1000px;
} 

.emptyCell {
  background-color: whitesmoke;
}
.piece1 {
  background-color: Crimson; 
}
.piece2 {
  background-color: sandybrown;
}
.piece3 {
  background-color: Gold; 
}
.piece4 {
  background-color: OliveDrab;
}
.piece5 {
  background-color: Plum; 
}
.piece6 {
  background-color: blueviolet; 
}
.piece7 {
  background-color: teal; 
}

.blockCell {
  background-image: url('./brickWall.png');
  background-size: cover;
}

.incomingPieceContainer {
  height: 25%;
}

.incomingPieceCell {
  width: 25%;
  text-align: center;
  vertical-align: center;
}

#gameoverContainer {
  position:relative;
  height: 100%;
}

#infoGameContainer {
  position: relative;
  height: 50%;
  font-size: 2em;
}

.gameover {
  position: relative;
  width: 100%;
  background: url('./gameover.gif') no-repeat fixed center;
}

#retryParagraph {
  font-size: 1em;
  color: whitesmoke;
}