button {
  width: 150px;
  margin-bottom: 8px;
}

#menu-box {
  // border: 2px solid green;
  height: 100%;
  width: 100%;
  position: absolute;
}

.card-container {
  width: 300px;
  padding: 12px;
}

#gameContainer {
  border: 2px solid red;
  height: 90%;
  width: 80%;
  max-width: 1000px;
  position: absolute;
}

.wallCell {
  width: 3%;
}
.wallCell1 {
  border: 1px grey solid;
}

.wallCell2 {
  border: 1px blue solid;
}

.emptyCell {
  background-color: whitesmoke;
}
.piece1 {
  background-color: Crimson; 
}
.piece2 {
  background-color: Gold; 
}
.piece3 {
  background-color: OliveDrab;
}
.piece4 {
  background-color: teal; 
}
.piece5 {
  background-color: blueviolet; 
}
.piece6 {
  background-color: Plum; 
}