// .dot {
//     margin-right: 5px;
//     margin-top: 8px;
//     height: 5px;
//     width: 5px;
//     background-color: green;
//     border-radius: 50%;
// }

.no-suggestions {
    color: #ced4da;
    padding: 0.5rem;
  }
  
  .suggestions {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #be313d;
    color: white;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #ced4da;
  }
  